<% if flash[:message] %>
  <div class="container mx-auto center" style="width: 300px;">
    <div class="alert alert-light text-center" role="alert">
      <%= flash[:message] %>
    </div>
  </div>
<% end %>
<div class="container mx-auto">
  <div class="row">
    <div class="col-md-6 pull-left">
      <h1><%= @song.name %></h1>
      <% if @song.created_by == current_user.id%>
        <p class="text-muted">Added by you, <%= current_user.name %>!<br>
        <a href="/songs/<%= @song.id %>/edit">Edit or delete song</a></p>
        <br>
      <% else %>
        <p class="text-muted">Added by <a href="/users/<%= @song.created_by %>"><%= User.find(@song.created_by).name %></a></p>
        <br>
      <% end %>
        <h4>Artist: <%=@song.artist%></h4>
        <h4>Difficulty: <%= @song.difficulty %>/10</h4>
        <h4>Users currently learning:</h4>
        <% if !@song.users.empty? %>
          </h4>
          <ul class="list-group" style="width: 300px;">
            <% @song.users.each do |user| %>
              <li class="list-group-item"><a href="/users/<%=user.id%>"><%= user.name %></a></li>
            <% end %>
          </ul>
        <% else %>
          &nbsp; &nbsp; No users have added this song yet. <a href="/users/edit">Be the first.</a>
        <% end %>
      <br>
    </div>
    <div class="col-md-6">
      <br>
      <% if @song.link %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= @song.link %>"></iframe>
      </div>
      <% end %>
    </div>
  </div>
</div>
